# Explore here

In [1]:
import os
from sqlalchemy import create_engine
import pandas as pd

In [2]:
DB_URI = os.getenv('DB_URI').replace('postgres://', f'postgresql://')

engine = create_engine(DB_URI, echo=False)

In [3]:
df = pd.read_csv('../data/raw/AB_NYC_2019.csv')

df.to_sql('ml_4geeks_airbnb_ny_2019', engine, if_exists='replace', index=False)

895

In [6]:
db = pd.read_sql('ml_4geeks_airbnb_ny_2019', engine)
db.info()
db.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

(48895, 16)